h1 {
    font-family: "STXingkai", "Xingkai SC", "KaiTi", "楷体", serif;
    letter-spacing: 0.15em;
    color: #991b1b;
    }
h2 {
    font-family: "STXingkai", "Xingkai SC", "KaiTi", "楷体", serif;
    letter-spacing: 0.1em;
    color: #991b1b;
}
p {
    font-family: "STXingkai", "Xingkai SC", "KaiTi", "楷体", serif;
    color: #991b1b;
}